* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --primary: #F59E0B;
  --text-color: #64748B;
  --title-color: #0F172A;
  --primary-hover: #B45309;
  --background-color: #F8FAFC;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

#main {
  max-width: 1200px;
  width: 90vw;
  text-align: center;
  padding: 5rem 0;

  & > #title {
    display: inline;
    font-weight: 300;
    font-size: 40px;
    color: var(--title-color);
  }

  & > #title-underline {
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 7rem;
    height: 0.25rem;
    background-color: var(--primary);
  }

  & > #categories {
    padding: 2rem 0;

    & > .filter-buttons {
      border: transparent;
      padding: 0.5rem 1rem;
      margin: 1rem 0.5rem;
      color: var(--white);
      font-size: 14px;
      border-radius: 0.3rem;
      text-transform: capitalize;
      background-color: var(--primary);
      transition: all 0.4s;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-hover);
      }
    }
  }

  & > #menu-container {
    display: grid;
    place-items: center;
    align-items: start;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    & > .food-card {
      background-color: var(--white);
      height: auto;

      & > .food-image {
        border-radius: 0.5rem 0.5rem 0 0;
        width: 100%;
        height: 250px;
        object-fit: cover;
      }

      & > .food-info {
        padding: 2rem 1.5rem;

        & > .food-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.5rem;

          & > .food-title {
            font-size: 20px;
            color: var(--title-color);
          }

          & > .food-price {
            border-radius: 0.5rem;
            color: var(--white);
            padding: 0.3rem 0.7rem;
            background-color: var(--primary);
          }
        }

        & > .food-description {
          text-align: start;
          color: var(--text-color);
          line-height: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #main {

    & > #menu-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  #main {
    width: 95vw;
    padding: 2rem 0;

    & > #categories {

      & > .filter-buttons {
        padding: 0.5rem 0.7rem;
        margin: 0.5rem;
      }
    }

    & > #menu-container {
      padding: 0;
      grid-template-columns: repeat(1, 1fr);

      & > .food-card {
        padding: 0 1rem;

        & > .food-info {
          padding: 2rem 0.5rem;

          & > .food-header {

            & > .food-price {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}